body{
    margin: 0;
    
    
    padding: 0;
    padding-top: 50px;
    font-family:'Roboto' ;
    
    color: white;
    overflow-x: hidden;

}


ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;  
}
.nav_bar{
    position: relative;
    width: 100%;
    height: 50px;
    background-color:rgb(105, 105, 105);
    position:fixed;
    top:0px;
    left: 0px;
    align-items: center;
    justify-content: space-between;
}

.navbar_elements{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    
    position:fixed;
    top:0px;
    left: 0px;
    align-items: center;
    justify-content: space-between;
}
.icon{
    height: 36px;
    padding-left:5px;
    padding-right: 10px;
    
}
.elements{
    display: flex;
    flex-direction: row;
    flex:1;
    
    gap:35px;
    
    
}
.search{
    background-color: rgb(31, 32, 32);
    color:white;
    padding-left: 12px;
    margin-left: 15px;
    margin-right: 1px;
    
}
.hswaf{
    color:aliceblue;
    font-family: serif;
    font-family:'Roboto' ;
    text-decoration: none;


}
.search_button{
    width: 55px;
    margin-right: 10px;
}
.hamburger{
    display: none;
    cursor:pointer;
    color: black;
    background-attachment:black;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: rgb(0, 0, 0);
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    margin-right: 5px;

}
.main_page{
    display: grid;
    grid-template-rows:800px 550px;

    margin-top: 100px;
    width: 100%;
    margin: 0;
    display: grid;
    background-color: rgb(102, 104, 104);
    
}
.weather_details{
    display: block;
    
    

    text-align: center;

}
.tech{
    height:32px;
    border-radius: 16px;
    margin-left: 10px;
    margin-bottom: -4px;

}

    

.weather_info{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
    text-align: center;

}
.temprature,.humidity,.windspeed,.ct,.atm{
    width: 175px;
    border: 2px solid ;
    border-radius:  10px;
    border-color: black;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(54, 51, 51);
}
.link{
    text-decoration: none;
    color: white;
    font-size: 21px;
}




.table{

    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    background-color: rgb(232, 239, 225);
    table-layout: auto;
}
tr,th{
    background-color: rgb(61, 61, 61);
    height: 45px;
}
.About{
    background-color: black;
    color: white;
    padding-left: 27px;
    padding-right: 27px;
    height: 550px;
}
.contact{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;

}
.terms{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin-top: 40px;
}
.footer{
    height: 23px;
    margin-bottom: -4px;
    margin-right: 4px;
}

@media(max-width:768px){
    .hamburger{
        display:block;
         
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;

    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        
    }
    
    .elements{
        position: fixed;
        left: -100%;
        top: 50px;
        flex-direction:column;
        background-color: rgb(105, 105, 105);
        width: 100%;
        text-align: center;
        transition: 0.5s;
        padding-bottom: 10px;


    }
    .hswaf{
        margin: 10px;
        

    }
    .elements.active{
        left:0;
    }
    

    }
    